.center_div{
    margin: 30 auto;
    width:50% /* value of your choice which suits your alignment */
}

.field_wrapper{
    margin: 0 auto;
    width:30%
}

.chart_param{
    width:370px;
    text-align: left;
}

.chart_param_date{
    width:370px;
    text-align: center;
}