.center_div{
    margin: 30 auto;
    width:50% /* value of your choice which suits your alignment */
}

.field_wrapper{
    margin: 0 auto;
    width:30%
}

.chart_param{
    width:370px;
    text-align: left;
}

.chart_param_date{
    width:370px;
    text-align: center;
}

/* ---------------------------------
# SPINNER
--------------------------------- */
#bg-spinner {
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    background-color: rgba(1,1,1,0.7);
}

#position-spinner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid #d3d3d3;
    border-top: 6px solid #007bff;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}