{% load static %}
<html>
<head>
    <title>주식 일봉 시뮬레이션</title>
    <!-- bootstrap 설치 -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- css파일 import -->
    <link rel="stylesheet" href="{% static 'css/stocksimul.css' %}">
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
<div class="page-header">
    <h1><a href="/">주식 일봉 시뮬레이션</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h1>정보 입력</h1>
            <!-- Form을 제출할때 같은 뷰를 다시 불러옴. 이때 request에는 우리가 입력했던 데이터를 request.POST에 가지고 있음.-->
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit btn btn-default">Submit</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>