{% extends 'stocksimul/base.html' %}
{% block content %}
<div class="content text-center container center_div">
    <div class="py-5">
      <h1>주식 차트 조회 서비스</h1>
      <p class="lead">국내 주식 차트 조회 사이트입니다.This is a Test Copy Sample Test. Stock Chart Searching Service Launcing for domestic user</p>
    </div>
    <div class="row">
        <div class="col">
<!--            <h2>정보 입력</h2>-->
            <p></p>
<!--             Form을 제출할때 같은 뷰를 다시 불러옴. 이때 request에는 우리가 입력했던 데이터를 request.POST에 가지고 있음.-->
            <form action="" method="POST" class="form-signin">{% csrf_token %}
<!--                 입력받은 modelForm 내 field를 불러와 loop 수행-->
                {% for field in form %}
                <div class="field_wrapper">
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                     {{ field.errors }}
                    {% if field == form.event_name %} <!-- searchable select 를 수행하려는 form 내 필드 지정 -->
<!--                     forms.py에서 지정한 label_tag를 출력 -->
<!--                        {{ field.label_tag}} -->
                        <!-- name attribute는 form 내 searchable dropdown 목적의 필드명과 같아야 함. -->
                        <!-- input tag의 list attribute는 datalist tag의 id 와 같아야 함 -->
                        <input type="text" list="eventlist" class="form-control chart_param"
                               name="event_name" placeholder="종목 검색">
                        <datalist id="eventlist">
                            <!-- searchable dropdown 만들 데이터 생성 -->
                            {% for event in show_event %}
                                <option value="{{ event.event_name }}">{{ event.event_code }}</option>
<!--                                <option value="{{ event.0 }}">{{ event.1 }}</option>-->
                            {% endfor %}
                        </datalist>
                    {% else %}
<!--                        searchable select 가 아닌 다른 field의 경우-->
<!--                        {{ field.label_tag }} -->
                        {{ field }}
                    {% endif %}
                </div>
                <br/>
                {% endfor %}
<!--                <button type="submit" class="submit btn btn-default">Submit</button>-->
<!--                <input type="submit" value="조회">-->
                <button class="btn btn-lg btn-primary btn-block" type="submit"
                 style="width:150px">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}